@IMPORT url("../reindeer/legacy-styles.css");

.v-button-styleRed .v-button-caption {
    color: red;
    text-decoration: none;
}

.v-button-styleBold .v-button-caption {
	font-weight: bold;
	color: black;
}

/* the following styles are examples that demonstrate how to style the paging component*/
/* .css-style is optional. It is used in this case to style only the paging component that has the .css-style class*/

.css-style .v-button-button-first .v-button-caption {
	color: green;
}

.css-style .v-button-button-previous .v-button-caption {
	color: darkorange;
}

.css-style .v-label-separator-first {
	color: aqua;
}

.css-style .v-button-button-page .v-button-caption {
	color: black;
	text-decoration: none;
}

.css-style .v-button-current .v-button-caption {
	color: red;
	font-weight: bold;
}

.css-style .v-label-separator-last {
	color: fuchsia;
}

.css-style .v-button-button-last .v-button-caption {
	color: brown;
}

.css-style .v-button-button-next .v-button-caption {
	color: navy;
}

.css-style .limit {
	display: none;
}